.hero-img
{
      width: 620px;
      object-fit: contain;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      animation: animate 2s infinite ease alternate;
}
@keyframes animate
{
      to
      {
            transform: translateY(25px);
      }
      
}

